<link rel="stylesheet" type="text/css" href="${basePath}/resources/common/main/css/main.css">
<link rel="stylesheet" type="text/css" href="${basePath}/resources/common/main/css/menu.css">
<link rel="shortcut icon" type="image/x-icon" href="${basePath}/resources/BIS/main/image/logo.ico" media="screen" />
<script type="text/javascript" src="${basePath}/resources/libs/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${basePath}/resources/libs/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="${basePath}/resources/libs/echarts/echarts.min.js"></script>
<script type="text/javascript" src="${basePath}/resources/libs/easyui/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="${basePath}/resources/common/base/js/easyui-ztree.js"></script>
<script type="text/javascript" src="${basePath}/resources/common/base/js/base.js"></script>
<script type="text/javascript" src="${basePath}/resources/table/query/table.js"></script>
<script type="text/javascript" src="${basePath}/resources/common/base/js/json2.js"></script>
<script type="text/javascript" src="${basePath}/resources/common/base/js/area.js"></script>
<script type="text/javascript" src="${basePath}/resources/common/base/js/validation.js"></script>


<link rel="stylesheet" type="text/css" href="${basePath}/resources/libs/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="${basePath}/resources/libs/easyui/themes/bootstrap/easyui.css">
<link rel="stylesheet" type="text/css" href="${basePath}/resources/libs/easyui/themes/icon.css">
	
<div class="login-panel" style="height: auto;top:20%;">
		<form id="demoForm" class="" method="post" >
			<div>
			<label style="width: 30%">原密码：</label>
				<input class="easyui-textbox form-input" id="oldPassword" name="oldPassword" type="password" placeholder="登录名"  data-options="required: true" />
			</div>
			<div>
			<label style="width: 40%">请输入新的密码：</label>
				<input class="easyui-textbox form-input" id="password" name="password" type="password" placeholder="登录名"  data-options="required: true,validType:'Password'" />
			</div>
			<div>
			<label style="width: 40%">再次输入密码：</label>
				<input class="easyui-textbox form-input" id="confirmPassword" type="password" placeholder="邮箱"  data-options="required: true,validType:'Password'" />
			</div>
			
			<div class="bottom-sec" id="searchBtn">
				<button id="modify" type="button" class="login-btn" >修改密码</button>
			</div><br>
		</form>
	</div>



<script type="text/javascript">
var basePath = "${basePath}";
$(function() {
	$('#modify').on('click', function() {
		var password = $("#password").val();
		var confirmPassword = $("#confirmPassword").val();
		if (password == '') {
			alert("请输入密码。");
			$("#password").focus();
			return;
		}
		if (confirmPassword == '') {
			alert("请输入确认密码。");
			$("#confirmPassword").focus();
			return;
		}
		if (password != confirmPassword) {
			alert("密码和确认密码要一致。");
			return;
		}
		if (password=="${loginName}"){
			alert("密码不能和用户名相同。");
			return;
		}
		submitForm();
	});

});
function submitForm(){
	var flag=$('#demoForm').form('validate');
	if (flag){
		ajaxPost(basePath + "/userLogin/user_update_password",$("#demoForm").serializeArray(),function(data){
			var result = data;
			if (result.code == "01") {
				$.messager.alert('提示', '一个错误的请求');
			}else if(result.code == "03"){
				$.messager.alert('提示', '修改成功！');
				 window.location.href = basePath+'/userLogin/userLogin';
			}else if(result.code == "05"){
				$.messager.alert('提示', '请不要修改相同的密码');
			}
		},function(){
			alert("修改失败");
		});
	}
}
	
</script>

