<link rel="stylesheet" type="text/css" href="${basePath}/resources/common/main/css/main.css">
<link rel="stylesheet" type="text/css" href="${basePath}/resources/common/main/css/menu.css">
<link rel="shortcut icon" type="image/x-icon" href="${basePath}/resources/BIS/main/image/logo.ico" media="screen" />
<script type="text/javascript" src="${basePath}/resources/libs/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${basePath}/resources/libs/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="${basePath}/resources/libs/echarts/echarts.min.js"></script>
<script type="text/javascript" src="${basePath}/resources/libs/easyui/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="${basePath}/resources/common/base/js/easyui-ztree.js"></script>
<script type="text/javascript" src="${basePath}/resources/common/base/js/base.js"></script>
<script type="text/javascript" src="${basePath}/resources/table/query/table.js"></script>
<script type="text/javascript" src="${basePath}/resources/common/base/js/json2.js"></script>
<script type="text/javascript" src="${basePath}/resources/common/base/js/area.js"></script>
<script type="text/javascript" src="${basePath}/resources/common/base/js/validation.js"></script>


<link rel="stylesheet" type="text/css" href="${basePath}/resources/libs/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="${basePath}/resources/libs/easyui/themes/bootstrap/easyui.css">
<link rel="stylesheet" type="text/css" href="${basePath}/resources/libs/easyui/themes/icon.css">
<body class="outTimeBg">
<div class="login-panel outTimeBox">
	<div class="warnPic"></div>
   	<div class="warnWord">
   		<p>邮件超时！！！ 请重新发送</p>
   		<a href="#" class="resend"><span class="emailIcon"></span>重新发送</a>
	</div>
</body>	


